In [1]:
import tensorflow as tf
print(tf.__version__)
# import some basic libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

2.19.0

In [2]:
dataset=pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Divide the dataset into independent and dependent features
X=dataset.iloc[:,3:13]
y=dataset.iloc[:,13]

In [4]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [5]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [6]:
# Feature Engineering
geography=pd.get_dummies(X['Geography'],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [7]:
# concatenate these variable with dataframe
X=X.drop(['Geography', 'Gender'], axis=1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10

In [8]:
pd.concat([X, geography,gender],axis=1)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,False,False,False

In [9]:
# Splitting the dataset into Training Set and Test Set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [11]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [12]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-2.30455945,  0.30102557, -1.37744033, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-1.19119591, -0.94312892, -1.031415  , ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.62420521, -0.08179119,  1.39076231, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-0.28401079,  0.87525072, -1.37744033, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [13]:
X_test

array([[-0.55204276, -0.36890377,  1.04473698, ...,  0.64259497,
         0.9687384 ,  1.61085707],
       [-1.31490297,  0.10961719, -1.031415  , ...,  0.64259497,
        -1.03227043,  0.49587037],
       [ 0.57162971,  0.30102557,  1.04473698, ...,  0.64259497,
         0.9687384 , -0.42478674],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ...,  0.64259497,
        -1.03227043,  0.71888467],
       [-0.00566991, -0.46460796, -0.33936434, ...,  0.64259497,
         0.9687384 , -1.54507805],
       [-0.79945688, -0.84742473,  1.04473698, ...,  0.64259497,
        -1.03227043,  1.61255917]])

In [14]:
X_train.shape

(8000, 8)

In [15]:
X_test.shape

(2000, 8)

In [16]:
# Part- 2now lets create ANN
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, PReLU, ELU, LeakyReLU
from tensorflow.keras.layers import Dropout

In [17]:
# Lets initiaze the ANN
classifer=Sequential()

In [18]:
# Adding the input Layer
classifer.add(Dense(units=11,activation='relu'))

In [19]:
# Adding the first hidden Layer
classifer.add(Dense(units=7,activation='relu'))

In [20]:
 # Adding the second hidden Layer
classifer.add(Dense(units=6,activation='relu'))

In [21]:
# Adding the output layer
classifer.add(Dense(1, activation='sigmoid'))
classifer.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [22]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [23]:
import tensorflow as tf
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0,
    patience=0,
    verbose=0,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)

In [27]:
model_history=classifer.fit(X_train, y_train,validation_split=0.33, batch_size=10, epochs=20)

Epoch 1/20
536/536  2s 3ms/step - accuracy: 0.8678 - loss: 0.3237 - val_accuracy: 0.8489 - val_loss: 0.3764
Epoch 2/20
536/536  3s 3ms/step - accuracy: 0.8718 - loss: 0.3122 - val_accuracy: 0.8489 - val_loss: 0.3767
Epoch 3/20
536/536  2s 3ms/step - accuracy: 0.8734 - loss: 0.3152 - val_accuracy: 0.8489 - val_loss: 0.3754
Epoch 4/20
536/536  3s 4ms/step - accuracy: 0.8742 - loss: 0.3099 - val_accuracy: 0.8485 - val_loss: 0.3757
Epoch 5/20
536/536  2s 3ms/step - accuracy: 0.8615 - loss: 0.3250 - val_accuracy: 0.8485 - val_loss: 0.3783
Epoch 6/20
536/536  2s 3ms/step - accuracy: 0.8671 - loss: 0.3213 - val_accuracy: 0.8485 - val_loss: 0.3784
Epoch 7/20
536/536  3s 3ms/step - accuracy: 0.8655 - loss: 0.3214 - val_accuracy: 0.8489 - val_loss: 0.3771
Epoch 8/20
536/536  2s 3ms/step - accuracy: 0.8673 - loss: 0.3195 - val_accuracy: 0.8504 - val_loss: 0.3763
Epoch 9/20
536/536  2s 5ms/step - accuracy: 0.8549 - loss: 0.3399 - val_accuracy: 0.8482 - val_loss: 0.3799
Epoch 10/20
536/536  2s 4ms/step - accuracy: 0.8678 - loss: 0.3240 - val_accuracy: 0.8474 - val_loss: 0.3808
Epoch 11/20
536/536  2s 3ms/step - accuracy: 0.8680 - loss: 0.3262 - val_accuracy: 0.8482 - val_loss: 0.3756
Epoch 12/20
536/536  2s 3ms/step - accuracy: 0.8624 - loss: 0.3277 - val_accuracy: 0.8470 - val_loss: 0.3773
Epoch 13/20
536/536  2s 3ms/step - accuracy: 0.8632 - loss: 0.3244 - val_accuracy: 0.8451 - val_loss: 0.3821
Epoch 14/20
536/536  2s 3ms/step - accuracy: 0.8711 - loss: 0.3170 - val_accuracy: 0.8493 - val_loss: 0.3799
Epoch 15/20
536/536  2s 4ms/step - accuracy: 0.8602 - loss: 0.3355 - val_accuracy: 0.8501 - val_loss: 0.3772
Epoch 16/20
536/536  2s 3ms/step - accuracy: 0.8680 - loss: 0.3255 - val_accuracy: 0.8478 - val_loss: 0.3762
Epoch 17/20
536/536  2s 3ms/step - accuracy: 0.8664 - loss: 0.3231 - val_accuracy: 0.8485 - val_loss: 0.3814
Epoch 18/20
536/536  3s 3ms/step - accuracy: 0.8578 - loss: 0.3305 - val_accuracy: 0.8444 - val_loss: 0.3809
Epoch 19/20
536/536  2s 3ms/step - accuracy: 0.8636 - loss: 0.3282 - val_accuracy: 0.8463 - val_loss: 0.3786
Epoch 20/20
536/536  4s 5ms/step - accuracy: 0.8688 - loss: 0.3259 - val_accuracy: 0.8448 - val_loss: 0.3772